@{
    ViewData["Title"] = "Home Page";
}


<head>
    <link rel="stylesheet" href="https://bootstrapmade.com/assets/css/demo.css?v=5.3">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="section-title">
            <h2 class="header-color">About Us</h2>
            <div class="col-lg-6"><p>Indulge in a world of luxury and relaxation at our exceptional hotel. Situated in the heart of a bustling city, we offer a tranquil oasis where modern elegance meets unparalleled comfort. Whether you're traveling for business or pleasure, our dedicated team is here to ensure that your stay is nothing short of extraordinary.</p></div>
        </div>
        <div class="row-content">
            <div class="col-lg-6">
                <p>
                    We provide the following range of services
                </p>
                <ul>
                    <li>
                        <p>Accommodations - experience the epitome of comfort in our beautifully appointed rooms and suites.</p>
                    </li>
                    <li>
                        <p>Dining - savor a symphony of flavors at our renowned on-site restaurant.</p>
                    </li>
                    <li>
                        <p>Facilities - immerse yourself in a world of wellness at our luxurious spa and wellness center.</p>
                    </li>
                </ul>
                <p>
                    Experience the pinnacle of luxury and hospitality at Exquisite Haven Hotel. Whether you're seeking a romantic getaway, a family vacation, or a seamless business trip, our hotel is the perfect choice. Book your stay today and embark on a journey of unrivaled comfort, style, and unforgettable moments. We look forward to welcoming you!
                </p>
                <a asp-area="" asp-controller="Room" asp-action="List" class="btn-learn-more">See our rooms</a>
            </div>
        </div>
    </div>
</body>

