@model HotelMainApp.ViewModels.RoomListViewModel

<form method="" action="/Room/List">
    <row>
        <select class="form-select" id="guestNumber" name="guestNumber">
            <option value="">Any number of person</option>
            @foreach(var personNumber in Model.Capacities)
            {
                <option value="@personNumber.GuestNumber">@personNumber.GuestNumber</option>
            }
        </select>

        <select class="form-select" id="roomType" name="roomType">
            <option value="">Any room type</option>
            @foreach (var roomType in Model.Types)
            {
                <option value="@roomType.RoomType">@roomType.RoomType</option>
            }
        </select>
        <p><input class="dropbtn" type="submit" value="Send" /></p>
    </row>
</form>

<div class="row">
    @foreach (var room in Model.Rooms)
    {
        <partial name="_RoomCard" model="room" />
    }
</div>